[submodule "wasplib-docs"]
	path = wasplib-docs
	url = https://github.com/Torwent/wasplib-docs
[submodule "utils/cache-reader"]
	path = utils/cache-reader
	url = https://github.com/WaspScripts/cache-reader.git
